@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
*{
    border-style: border-box;
    font-family: 'Fraunces', sans-serif;
}

body{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: gray;
}

h3{
    letter-spacing: 4px;
    text-transform: uppercase;
    color: gray;
    font-family: 'Montserrat', sans-serifs;
}

h1{
    line-height: 30px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vw;
    box-shadow: 10px 10px 8px 2px gray;
    background-color: hsl(31, 62%, 85%);
    margin-bottom: 50px;
}

.pinkside{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 600px;
    height: 400px;
    border-radius: 15px;
    background-color: white;
}

.img-side{
    background-image: url('images/image-product-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}
 
.info{
    width: 75%;
    margin:  10px 35px;
    padding: 0;
}

.cost{
    display: flex;
    align-items: center;
    margin: 5px 0 30px 0;
}

.active{
    font-family: 'Fraunces', sans-serif;
    font-size: 30px;
    position: relative;
    left: 0;
    color: #357C3C;
    margin: 0;
}

.in-active{
    text-decoration: line-through;
    position: relative;
    margin-left: 15%;
    color: gray;
}

.btn{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #357C3C;
    color: white;
    position: relative;
    bottom: 15px;
    cursor: pointer;
    transition: transform 40ms ease-in;
}

.btn:hover{
    background-color: #285e2e;
}

.btn:active{
    transform: scale(0.9);
}
 
i{
    margin: 5px;
}

@media screen and (max-width: 375px) {

    .container{
        width: 100vw;
        height: 100vh;
    }
    .pinkside{
        flex-direction: column;
        box-shadow: 10px 10px 8px 2px gray;
        width: 55%;
        height: 90%;
    }
    .img-side{
        background-image: url('/images/image-product-mobile.jpg');
        border-radius: 15px 15px 0 0 ;
    }
    .info{
        height: 60%;
        padding: 0;
    }
    h3{
        position: relative;
        top: 0;
        margin: 2px 0 ;
    }
    h1{
        position: relative;
        top: 0;
        margin: 0 0 ;
    }
}
